
.grid{
    display: flex;
    flex-direction: column;

}
.divline{
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    
}

.divwrapper{
    flex-wrap: wrap;
    flex-grow: 1;
}

.divpixel{
    min-width: 30px;
    min-height: 30px;
    background-color: powderblue;
    flex-grow:1;
}